# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local storage
uploads/
storage/

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Local database
*.db
dev.db

# Uploaded files
storage/