fastapi
uvicorn[standard]
pydantic-settings
python-dotenv

sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator
python-multipart

psycopg2-binary
alembic
pypdf
python-docx
pgvector
